{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Register{% endblock %}
{% block content %}
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="post">
                        {% csrf_token %}
                        <div class="m-3">
                            {% for form in user_form %}
                                <div class="row m-3">
                                    <div class="col">
                                        {{ form.label }}
                                    </div>
                                    <div class="col">
                                        {{ form|add_class:"form-control" }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <input type="submit" class="btn btn-primary" value="Register"/>

                        {#                        <div class="text-center text-lg-start mt-4 pt-2">#}
                        {#                            <input type="submit" class="btn btn-primary" value="Register"/>#}
                        {#                            <p class="small fw-bold mt-2 pt-1 mb-0">#}
                        {#                                Do your have account?#}
                        {#                                <a href="{% url 'login' %}" class="link-danger">Login</a>#}
                        {#                            </p>#}
                        {#                        </div>#}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}