                        <div class="col card mb-3">
                <div class="card-header row">
                    <div class="col">
                        <div class="row">
                            <img src="https://images.complex.com/complex/images/c_scale,f_auto,q_auto,w_1920/fl_lossy,pg_1/ok26lkxxcptihvwljzaw/girl-in-red?fimg-ssr-default"
                             style="width: 10%"    class="col-1 rounded-pill"/>
                            <h6 class="col">Han Zaw Nyein</h6>
                        </div>
                    </div>
                    <div class="col-1">
                        <i class="bi bi-three-dots"></i></div>
                </div>
                <div class="card-body ">
                    <p class="card-text">
                        <input type="button" class="form-control" value="add post" disabled/>
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn"><i class="bi bi-card-image"></i> Photos</button>
                    <button class="btn"><i class="bi bi-camera-reels"></i> Videos</button>
                    <button class="btn"><i class="bi bi-calendar-event"></i> Life Events</button>
                </div>
            </div>
