<div class="container p-3">
    <h1>Intro</h1>
    <p>this is bio this is bio this is bio this is bio </p>
    <button class="btn btn-secondary col-12">Edit Bio</button>
    <div class="mt-3">
        <p><i class="fa-solid fa-graduation-cap"></i> Studied at <b>Pathein University</b></p>
        <p><i class="fa-solid fa-graduation-cap"></i> Studied at <b>Pathein University</b></p>
        <p><i class="fa-solid fa-graduation-cap"></i> Studied at <b>Pathein University</b></p>
        <p><i class="fa-solid fa-graduation-cap"></i> Studied at <b>Pathein University</b></p>
        <p><i class="fa-solid fa-graduation-cap"></i> Studied at <b>Pathein University</b></p>
        <button class="btn btn-secondary col-12">Edit Details</button>
    </div>
</div>